<!DOCTYPE html>
<html lang="en">
<div class="page-content">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Form</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/contactstyle.css">
</head>
<body>
    <div class="container">
        <h1>GET IN TOUCH</h1>
        <p>Have any questions or suggestions? Drop us a message</p>
        <form name="contact" method="POST" data-netlify="true">
                <div class="column">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Your name here" required>
                </div>
                <div class="column">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Your email here" required>
                </div>
            <div class="row">
                <div class="column">
                    <label for="issue">Describe your issue</label>
                    <textarea name="issue" placeholder="Describe your issue in detail here" rows="3"></textarea>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Form</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/contactstyle.css">
</head>
<body>
    <div class="container">
        <h1>GET IN TOUCH</h1>
        <p>Have any questions or suggestions? Drop us a message</p>
        <form name="contact" method="POST" data-netlify="true">
                <div class="column">
                    <label for="name">Email</label>
                    <input id="name" name="name" placeholder="Your name here" type="text" class="form-control" required="required">
                </div>
                <div class="column">
                    <label for="email">Email</label>
                    <input id="email" name="email" placeholder="Your email here" type="email" class="form-control" required="required">
                </div>
            <div class="row">
                <div class="column">
                    <label for="textarea" class="col-4 col-form-label">Text Area</label> 
                    <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
