  <body>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
    rel="stylesheet"
  />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/profilestyle.css" />
    <section>
      <div class="row">
        <!-- Column 1-->
        <div class="column">
            <div class="card">
              <div class="img-container">
                <img src="profile-img-3.png" />
              </div>
              <h3>Aidan Clarke</h3>
              <p>Editor-in-Chief</p>
              <div class="icons">
                <h4>
                    adsd
                </h4>
              </div>
            </div>
          </div>
        <div class="column">
            <div class="card">
              <div class="img-container">
                <img src="profile-img-3.png" />
              </div>
              <h3>Ben Proothi</h3>
              <p>Editor-in-Chief</p>
              <div class="icons">
                <h4>
                    adsd
                </h4>
              </div>
            </div>
          </div>
        <!-- Column 3-->
        <div class="column">
            <div class="card">
              <div class="img-container">
                <img src="profile-img-3.png" />
              </div>
              <h3>Lidia Prokopovych</h3>
              <p>Editor</p>
              <div class="icons">
                <h4>
                    adsd
                </h4>
              </div>
            </div>
          </div>
        <div class="column">
            <div class="card">
              <div class="img-container">
                <img src="profile-img-3.png" />
              </div>
              <h3>Om Patels</h3>
              <p>Web Developer | Editor</p>
              <div class="icons">
                <h4>
                    adsd
                </h4>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="img-container">
                <img src="profile-img-3.png" />
              </div>
              <h3>Vinod Ruppa-Kasani</h3>
              <p>Editor</p>
              <div class="icons">
                <h4>
                    adsd
                </h4>
              </div>
            </div>
          </div>
          
      </div>
    </section>
  </body>
</html>
